@use "../../styles/shadows";
@use "../../styles/spacing";
@use "../../styles/colors";
@use "../../styles/transitions";
@use "../../styles/breakpoints";

.root {
  padding: spacing.$default;
  background-color: colors.$lightblue;
  margin-bottom: spacing.$double;
  border: 3px dashed transparent;
  @include shadows.card;

  &.editmode {
    border: 3px dashed #000;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  margin-bottom: spacing.$default;
  flex-direction: row;
  @media (max-width: breakpoints.$small) {
    flex-direction: column;
  }
}

.buttons {
  display: flex;
  opacity: 0;
  pointer-events: none;

  @media (max-width: breakpoints.$small) {
    display: none;
    &.editmode {
      display: flex;
    }
  }

  button {
    margin: 0 spacing.$default 0 0;
  }
  &.editmode {
    opacity: 1;
    pointer-events: all;
  }
}

.wrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  @media (max-width: breakpoints.$small) {
    flex-direction: column;
  }
}

.card {
  transition: transitions.$default;
  width: 25%;

  @media (max-width: breakpoints.$medium) {
    width: 50%;
  }

  @media (max-width: breakpoints.$small) {
    width: initial;
  }

  &.editmode {
    opacity: 0.3;
    @media (max-width: breakpoints.$small) {
      display: none;
    }
  }
}

.spots {
  display: flex;
  flex-wrap: wrap;
  border-radius: spacing.$half;
  padding: spacing.$default;
  width: 75%;
  margin: spacing.$default;
  min-height: 100px;

  @media (max-width: breakpoints.$small) {
    width: initial;
  }
}
