@use "../../styles/shadows";
@use "../../styles/spacing";

.root {
  padding: spacing.$default;
  background-color: #f5f5f5;
  margin-bottom: spacing.$double;
  @include shadows.card;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  margin-bottom: spacing.$default;
}

.buttons {
  display: flex;
  button {
    margin: 0 spacing.$default 0 0;
  }
}

.wrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.spots {
  // background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  border-radius: spacing.$half;
  padding: spacing.$default;
  width: 75%;
  margin: spacing.$default;
  min-height: 100px;
  // @include shadows.card;
}
