@use "../../styles/shadows";
@use "../../styles/spacing";
@use "../../styles/colors";
@use "../../styles/breakpoints";
@use "../../styles/transitions";

.root {
  background-color: #fff;
  text-align: center;
  padding: spacing.$default;
  margin: spacing.$default;
  font-weight: 500;
  white-space: nowrap;
  user-select: none;
  @include shadows.card;
  transition: transitions.$default;
  border: 2px solid transparent;
  &.full {
    border: 2px solid red;
  }

  .total {
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    color: lighten($color: #000000, $amount: 40%);
    align-items: center;
    justify-content: center;

    div {
      margin: 2px;
      &:first-child {
        font-size: 3.6rem;
        font-weight: 700;
        color: lighten($color: #000000, $amount: 0%);
      }
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    padding: spacing.$half;
    font-size: 1.4rem;

    .iconAndType {
      display: flex;
      flex-direction: row;
      align-items: center;
      svg {
        margin-right: spacing.$default;
        color: colors.$darkblue;
      }
    }

    div {
      &:nth-child(2) {
        display: flex;
        align-items: center;
        span {
          font-weight: 700;
          font-size: 2.2rem;
          &:nth-child(2) {
            font-size: 1.2rem;
            margin-left: spacing.$half;
            color: rgba($color: #000000, $alpha: 0.3);
          }
        }
      }
    }
  }
}
