@use "sass:color";
@use "./spacing";
@use "./colors";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&family=Inter:wght@400;500;700&display=swap");

$inter: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
$exo2: "Exo 2", sans-serif;

:root {
  color: rgb(31, 29, 29);
  font-family: $exo2;
  font-weight: 400;
  background-color: ghostwhite;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: $inter;
}

h2 {
  margin: 0;
}

h4 {
  font-size: 1.6rem;
  margin: 0;
  padding: spacing.$half;
}

h5 {
  font-size: 1.4rem;
  margin: spacing.$half 0;
}
