@use "../../styles/spacing";
@use "../../styles/transitions";
@use "../../styles/breakpoints";

.root {
  padding: spacing.$default;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  transition: transitions.$default;
  opacity: 0;
  pointer-events: none;

  @media (max-width: breakpoints.$small) {
    display: none;
    &.editmode {
      display: flex;
    }
  }

  button {
    margin: 0 0 0 spacing.$default;
  }

  &.editmode {
    opacity: 1;
    pointer-events: initial;
  }
}

.floors {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin: spacing.$default;
}
