@use "../../styles/spacing";

.root {
  padding: spacing.$default;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  button {
    margin: 0 0 0 spacing.$default;
  }
}

.floors {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin: spacing.$default;
}
