@use "sass:color";
@use "../../styles/spacing";

$bgcolor: #9750dd;
$transition: all 250ms ease;

.root {
  display: flex;
  position: relative;
  max-height: 100px;
  .clock {
    position: absolute;
    right: calc(50% - 22px);
    top: 10px;
    color: #17c964;
  }
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: spacing.$half;
  border: 1px solid #000;
  padding: spacing.$default;
  width: 30px;
  height: 50px;
  margin: spacing.$default;
  cursor: pointer;
  background-color: $bgcolor;
  color: #fff;
  transition: $transition;
  user-select: none;

  &:hover {
    background-color: color.adjust($bgcolor, $lightness: 10%);
    transform: scale(1.03);
  }

  &:active {
    background-color: color.adjust($bgcolor, $lightness: 20%, $alpha: -0.4);
    transform: scale(0.97);
  }

  span {
    font-family: "Exo 2";
    font-size: 3rem;
  }
}

.compact {
  width: 30px;
}

.large {
  width: 40px;
  height: 60px;
}

.handicapped {
  width: 40px;
  height: 40px;
}

.motorcycle {
  width: 20px;
  height: 30px;
}

.occupied {
  color: #fff;
  opacity: 0.5;
}

.spot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
